*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  font-weight: 400;
  font-family: $fontPoppins, $fontFallback;
  color: $black;
  background-color: $brand-gray-4;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
}

header,
footer {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
