@import "@/styles/core/core";

.form {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 60px;
    background: $white url("/src/assets/letter.png") no-repeat 30% 106%;
    background-size: 105px;
    width: 100%;

    @include mq("tablet-wide") {
        row-gap: 20px;
        padding: 35px 60px 150px 0;
        background-size: 240px;
        background-position-x: 66%;
    }
}

.inputs {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr;

    @include mq("tablet-wide") {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
    }
}

.submit {
    width: 100%;

    @include mq("phablet") {
        max-width: 215px;
        margin-left: auto;
    }
}
